@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-family: "Roboto";
  --main-color: black;
}

body {
  max-width: 980px;
  margin: auto;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  text-align: center;
}

h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 200%;
  font-family: "Luckiest Guy", cursive;
}

h3 {
  font-family: "Lobster", cursive;
  color: green;
  text-align: center;
  font-size: 200%;
}

header nav .logo {
  font-family: "Luckiest Guy", cursive;
  font-size: 4rem;
  margin: 15;
  text-align: center;
  color: green;
}

header nav .top-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-family: "Luckiest Guy", cursive;
}

header nav .top-menu li a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 5px;
}

header nav .top-menu li a:hover {
  border: 1px solid;
  border-color: green;
  border-radius: 5px;
}

header nav .top-menu {
  flex: 1;
  margin-top: 0;
}

@media (min-width: 500px) {
  header nav {
    display: flex;
    align-items: center;
  }

  p {
    text-indent: 25px;
  }

  #center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  * {
    box-sizing: border-box;
  }

  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }

  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  }

  .price .header {
    background-color: green;
    color: white;
    font-size: 25px;
  }

  /* List items */
  .price li {
    border-bottom: 1px solid green;
    padding: 20px;
    text-align: center;
  }

  .price .grey {
    background-color: lightgoldenrodyellow;
    font-size: 20px;
  }

  .button {
    background-color: yellow;
    border-color: white;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50px 50px 50px 50px;
  }
}
